<section class="content">
  <div class="content-mintitle">
    <p>Lista de Livros</p>
  </div>
  <section>
    <div class="card rounded shadow-lg p-3">
      <div>
        <h1 class="card_title">Gerenciar Livros</h1>
        <h4 class="card_subtitle">
          Gerencie, edite ou remova livros da sua lista
        </h4>
      </div>

      <!-- novos livros container -->

      <div class="card shadow roudend">
        <div class="card-body novosLivros-body">
          <div class="row">
            <div class="form-group col-10">
              <form [formGroup]="form">
                <input
                type="text"
                class="form-control"
                placeholder="Título do Livro"
                formControlName="nome"
              />
              </form>
            </div>
            <div class="form-group col-2 text-right">
              <button [disabled]="!form.valid" type="submit"  (click)="cadastrar()"  class="btn btn-dark">+ Cadastrar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- fim novos livros container -->
      <!-- lista de livros container -->
      <section class="lista-livros">
        <div *ngFor="let livro of livros, let i = index" class="card col-3">
          <div class="card-title">
            <h4 class="card-title_title">{{livro.nome}}</h4>
          </div>
          <div class="card-body">
            <p>{{livro.observacao}}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col content-button">
                <a class="btn btn-sm btn-dark mr-2" [routerLink]="['edit/', livro._id]">Editar</a>
                <button (click)="excluir(livro,i)" class="btn btn-sm btn-danger">Excluir</button>
              </div>
              <div class="col text-right">
                <h5>{{livro.avaliacao}}⭐</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
<router-outlet></router-outlet>
