.card
  margin-top: 5%
  .card-title
    h1
      padding: 10px
    .card-title_title
      border-left: 5px solid red
      margin: 2% 0 10px 24px
  .form-group
    margin-bottom: 2%
    label
      margin-bottom: 1%
  .btn
    margin: 10px
