<nav class="breadcrumb-content" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/gerenciar">Lista de Livros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editando Filme: {{livro.nome}}</li>
  </ol>
</nav>
<app-mensagens></app-mensagens>
<section>
  <div class="card shadow roudend">
    <div class="card-title">
      <h1 class="card-title_title">Editando Livro: {{livro.nome}}</h1>
    </div>
    <div class="card-body">
      <div class="row mt-4">
        <div class="col p-4">
          <form [formGroup]="form" (ngSubmit)="update()">
            <div class="form-group">
              <label>Título</label>
              <input type="text" formControlName="nome" class="form-control">
            </div>
            <div class="form-group">
              <label>Observação</label>
              <input type="text" formControlName="observacao" class="form-control">
            </div>
            <div class="form-group">
              <label >Avaliação ⭐</label>
              <select formControlName="avaliacao" class="form-select" aria-label="Default select example">
                <option  *ngFor="let rating of movieRatingOptions" [value]="rating" >{{rating}}</option>
              </select>
            </div>
            <div class="mt-4">
              <button type="submit" [disabled]="!form.valid" class="btn btn-dark">Salvar</button>
              <button (click)="voltar()" type="submit" class="btn btn-light mr-2">Voltar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
